<section id="home" section>
  <div class="intro">
      Hello, I'm <span class="highlight">Ayush Kumar</span>.
      <br>
      I'm a full-stack web developer.
  </div>
  <button class="btn-white" data-dest="skills">View my skills <i class="mdi mdi-arrow-right"></i></button>
</section>
<nav>
  <ul>
      <li data-dest="home" class="active">Home</li>
      <li data-dest="skills">Skills</li>
      <li data-dest="contact">Contact</li>
      <li><a href="resume.pdf" target="_blank">Resume</a></li>
  </ul>
</nav>
<main>
  <section id="skills" section>
      <h2 class="to-animate" data-animate='{"className": "left-right"}'>SKILLS</h2>
      <div data-animate='{"className": "left-right, delay-half"}' class="to-animate header-bar header-bar-1c-7w"></div>
      <section class="specialities">
          <div class="speciality">
              <div class="hex">
                  <i class="mdi mdi-speedometer"></i>
              </div>
              <h3>Fast</h3>
              <span>Fast load times and lag free interaction, my highest priority.</span>
          </div>
          <div class="speciality">
              <div class="hex"><i class="mdi mdi-cellphone-link"></i></div>
              <h3>Responsive</h3>
              <span>My layouts will work on any device, big or small.</span>
          </div>
          <div class="speciality">
              <div class="hex"><i class="mdi mdi-lightbulb-outline"></i></div>
              <h3>Intuitive</h3>
              <span>Strong preference for easy to use, intuitive UX/UI.</span>
          </div>
          <div class="speciality">
              <div class="hex"><i class="mdi mdi-rocket"></i></div>
              <h3>Dynamic</h3>
              <span>Websites don't have to be static, I love making pages come to life.</span>
          </div>
      </section>
      <div class="info-skill-container">
          <div class="info to-animate" data-animate='{"className": "left-right"}'>
              <h3>Who's this guy</h3>
              <div class="info-desc">
                  I'm the Front-End Developer for <a class="link" href="http://www.media.net" target="_blank">Media.net</a> in Mumbai, India.
                  <br>
                  I have serious passion for UI effects, animations and creating intuitive, dynamic user experiences.
                  <br>
                  <span class="link" data-dest="contact">Let's make something special.</span>
              </div>
          </div>
          <div class="skills-container to-animate"  data-animate='{"className": "right-left"}'>
              <div class="skill-container">
                  <span class="skill-name to-animate" data-animate='{"className": "animate-width"}' style="width: 90%"><span class="name">JAVASCRIPT</span></span>
                  <span class="proficiency">90%</span>
              </div>
              <div class="skill-container">
                  <span class="skill-name to-animate" data-animate='{"className": "animate-width"}' style="width: 75%"><span class="name">Angular</span></span>
                  <span class="proficiency">75%</span>
              </div>
              <div class="skill-container">
                  <span class="skill-name to-animate" data-animate='{"className": "animate-width"}' style="width: 85%"><span class="name">CSS</span></span>
                  <span class="proficiency">85%</span>
              </div>
              <div class="skill-container">
                  <span class="skill-name to-animate"  data-animate='{"className": "animate-width"}' style="width: 90%"><span class="name">HTML</span></span>
                  <span class="proficiency">90%</span>
              </div>
              <div class="skill-container">
                  <span class="skill-name to-animate"  data-animate='{"className": "animate-width"}' style="width: 60%"><span class="name">PWA</span></span>
                  <span class="proficiency">60%</span>
              </div>
              <div class="skill-container">
                  <span class="skill-name to-animate"  data-animate='{"className": "animate-width"}' style="width: 40%"><span class="name">Node JS</span></span>
                  <span class="proficiency">40%</span>
              </div>
              <div class="skill-container">
                  <span class="skill-name to-animate"  data-animate='{"className": "animate-width"}' style="width: 50%"><span class="name">Graph QL</span></span>
                  <span class="proficiency">50%</span>
              </div>
              <div class="skill-container">
                  <span class="skill-name to-animate"  data-animate='{"className": "animate-width"}' style="width: 60%"><span class="name">SQL</span></span>
                  <span class="proficiency">60%</span>
              </div>
          </div>
      </div>
  </section>
</main>
<footer id="contact" section>
  <h2 class="to-animate" data-animate='{"className": "right-left"}'>CONTACT</h2>
  <div data-animate='{"className": "right-left, delay-half"}' class="to-animate header-bar header-bar-4c-7w"></div>
  <section class="social-links">
      <a data-animate='{"className": "animate-rotation"}' class="to-animate" href="https://www.linkedin.com/in/ayush-jain-57564216/" target="_blank"><i class="mdi mdi-linkedin"></i></a>
      <a data-animate='{"className": "animate-rotation"}' class="to-animate" href="https://codepen.io/ak802225" target="_blank"><i class="mdi mdi-codepen"></i></a>
      <a data-animate='{"className": "animate-rotation"}' class="to-animate" href="https://www.facebook.com/ayush712" target="_blank"><i class="mdi mdi-facebook"></i></a>
  </section>
  <section class="copyright">AYUSH KUMAR <span>©2020</span></section>
</footer>